<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container">
  <%= link_to "refresh", refresh_path, class:"btn btn-success" %>
<div class="col-4">
  <h5>Puppies</h5>
  <ul style="padding-inline-start: unset;">
    <% @products.each do |p| %>
      <div class="d-flex my-5 border">
        <img src="<%= p.pic_link %>" alt="">
        <div>
          <p><strong><%= p.name %></strong></p>
          <p>$<%= p.actual_price %> <a href='<%= p.link %>'>link</a></p>
        </div>

      </div>
    <% end %>
  </ul>
</div>
<div class="col-4"></div>
<div class="col-4"></div>

</div>
