<div class="container mt-5">
<div class="row">
  <!-- [...] -->
  <div class="search_form m-auto w-50 m-5">
    <%= form_tag products_path, method: :get do %>
      <div class="d-flex">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a movie"
      %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <!-- the list of products -->
</div>
<div class="row mt-5 text-center">
  <div class="col-4">
  <%= link_to "refresh puppis", refresh_puppis_path, class:"btn btn-success" %>
  <h5>Puppies</h5>
  <ul style="padding-inline-start: unset;">
    <% @products.each do |p| %>
      <div class="row w-30 border">
        <img class="col-lg-4 col-12" src="<%= p.pic_link %>" alt="">
        <div class="col-lg-8 col-12">
          <p class="product-name"><strong><%= p.name %></strong></p>
          <p class="product-price">$<%= p.actual_price %> <a href='<%= p.link %>'>link</a></p>
        </div>

      </div>
    <% end %>
  </ul>
  </div>
  <div class="col-4">
    <%= link_to "refresh x", refresh_path, class:"btn btn-success" %>
  </div>
  <div class="col-4">
    <%= link_to "refresh x", refresh_path, class:"btn btn-success" %>

  </div>

</div>
</div>
